<div class="section">
  <div class="container">
    <h2 class="page-title">Tweet</h2>
    <div class="card border-primary mb-3">
      <div class="card-body">
        <% if @tweet.user.avatar.attached? %>
          <%= link_to user_path(@tweet.user) do %>
            <img class="non-profile-pic" src="<%= url_for(@tweet.user.avatar) %>%"/>
          <% end %>
        <% else %>
          <%= link_to user_path(@tweet.user) do %>
            <%= image_tag("avatar.jpg", class:"non-profile-pic" )%>
          <% end %>
        <% end %>
        <p class="tweet-display-name-same-row"><%= @tweet.user.name%></p>
        <p class="tweet-display-username-same-row">@<%= @tweet.user.username %></p>
        <p><%= @tweet.tweet %></p>
        <p><%= @tweet.created_at %></p>
        <% if @tweet.user == current_user %>
            <td><%= link_to 'Delete', user_tweet_path(@tweet.user, @tweet), method: :delete, data: { confirm: 'Are you sure?' }, class: "card-link" %></td>
        <% end %>
      </div>
    </div>
    <%= link_to 'Back', url_for(:back), class: "nav-link" %>
  </div>
</div>
