<div class="section">
  <div class="container">
    <h2 class="title is-2 text-center" style="color:#0088be;">People</h2>
    <table class="table" style ="margin-top: 10px;">
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= link_to user_path(user) do %>
                <% if user.avatar.attached? %>
                    <img src="<%= url_for(user.avatar) %>%"/>
                <% else %>
                    <%= image_tag("avatar.jpg") %>
                <% end %>
              <% end %>
              <%= link_to user_path(user) do %>
                <p style="margin-bottom: 0px;"><b><%= user.name %></b></p>
              <% end %>
              <p><%= user.username %></p>
            </td>
            <td>
              <% if user != current_user %>
                <% if current_user.followings.include?(user)%>
                  <%= button_to 'Following', user_path(user), method: :get, class: "btn btn-primary" %>
                <% else %>
                  <%= button_to 'Follow', user_path(user), method: :get, class: "btn btn-outline-primary" %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

