<div class="section">
  <div class="container">
    <h2 class="page-title"><%= @user.name %></h2>
    <div class="card border-primary mb-3">
      <div class="card-body">
        <% if @user.avatar.attached? %>
            <img class="profile-pic" src="<%= url_for(@user.avatar) %>%"/>
        <% else %>
            <%= image_tag("avatar.jpg", class:"profile-pic") %>
        <% end %>
        <p style="margin-bottom: 0px;"><strong><%= @user.name%></strong></p>
        <p style="margin-bottom: 0px;">@<%= @user.username %></p>
        <p style="margin-bottom: 5px;"><%= @user.email %></p>
        <p>Joined <%= @user.created_at %></p>
        <p><strong><%= @user.followings.count %></strong> Following</p>
        <p><strong><%= @user.followers.count %></strong> Followers</p>
        <% if @user == current_user %>
          <%= button_to 'Edit Profile', '/accounts/edit', method: :get, class: "btn btn-outline-primary"%>
        <% else %>
          <% if current_user.followings.include?(@user)%>
              <%= button_to 'Unfollow', "/deletefollowship/#{current_user.id}/#{@user.id}", method: :delete, class: 'btn btn-danger' %>
          <% else %>
              <%= button_to 'Follow', "/createfollowship/#{current_user.id}/#{@user.id}", method: :post, class: "btn btn-outline-primary"%>
          <% end %>
        <% end %>
          </div>
        </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Tweets</th>
          </tr>
        </thead>
        <tbody>
          <% @tweets.each do |tweet| %>
            <tr>
              <td>
                <%= link_to user_tweet_path(@user, tweet) do %>
                <% if @user.avatar.attached? %>
                  <img class="non-profile-pic" src="<%= url_for(@user.avatar) %>%"/>
                <% else %>
                  <%= image_tag("avatar.jpg", class:"non-profile-pic") %>
                <% end %>
                <p class="tweet-display-name-same-row"><%= @user.name%></p>
                <p class="tweet-display-username-same-row">@<%= @user.username %></p>
                <p><%= tweet.tweet %></p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <%= link_to 'Back', url_for(:back), class: "nav-link" %>
  </div>
</div>
