<div class="card border-primary mb-3" style="max-width: 18rem;">
  <div class="card-body text-primary">
    <%= form_with(model: [tweet.user, tweet], local: true) do |form| %>
      <% if tweet.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>
          <ul>
            <% tweet.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if tweet.user.avatar.attached? %>
        <%= link_to user_path(tweet.user) do %>
          <img src="<%= url_for(tweet.user.avatar) %>%"/>
        <% end %>
      <% else %>
        <%= link_to user_path(tweet.user) do %>
          <%= image_tag("avatar.jpg") %>
         <% end %>
      <% end %>

      <div class="field form-group">
        <%= form.text_area :tweet, class: "form-control" %>
      </div>

      <div class="actions">
        <%= form.submit "Tweet", class: 'btn btn-primary float-right'%>
      </div>
    <% end %>
  </div>
</div>