<div class="card border-primary mb-3">
  <div class="card-body">
    <%= form_with(model: [tweet.user, tweet], local: true) do |form| %>
      <% if tweet.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>
          <ul>
            <% tweet.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= link_to user_path(tweet.user) do %>
        <% if tweet.user.avatar.attached? %>
            <img class="non-profile-pic" src="<%= url_for(tweet.user.avatar) %>%"/>
        <% else %>
            <%= image_tag("avatar.jpg", class:"non-profile-pic") %>
        <% end %>
      <% end %>

      <div class="field form-group">
        <%= form.text_area :tweet, class: "form-control" %>
      </div>

      <div class="actions">
        <%= form.submit "Tweet", class: 'btn btn-primary float-right'%>
      </div>
    <% end %>
  </div>
</div>