<div class="section">
  <div class="container">
    <h2 class="page-title">Home</h2>
      <%= render 'form', tweet: @tweet %>

       <table class="table table-hover">
        <tbody>
        <% if !@feed.empty? %>
          <% @feed.each do |tweet| %>
            <tr>
              <td>
                <%= link_to user_tweet_path(tweet.user, tweet) do %>
                <% if tweet.user.avatar.attached? %>
                  <img class="non-profile-pic" src="<%= url_for(tweet.user.avatar) %>%"/>
                <% else %>
                  <%= image_tag("avatar.jpg", class:"non-profile-pic") %>
                <% end %>
                <p class="tweet-display-name-same-row"><%= tweet.user.name%></p>
                <p class="tweet-display-username-same-row">@<%= tweet.user.username %></p>
                <p><%= tweet.tweet %></p>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <p class="page-title">Create a New Tweet or Follow Someone</p>
        <% end %>
        </tbody>
      </table>
  </div>
</div>