<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p class="alert"><%= notice %></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <p class="alert"><%= alert %></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <nav class="navbar navbar-expand-sm navbar-light mb-4" style="background-color: #e3f2fd;">
      <div class="container">
        <%= link_to 'Twitter', "/", class: 'navbar-brand' %>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <!-- Should only be seen if logged in-->
              <% if user_signed_in? %>
                <li class="nav-item"><%= link_to 'Find Users', "/users", method: :get, class: 'nav-link' %></li>
                <li class="nav-item"><%= link_to 'My Profile', "/users/#{current_user.id}", method: :get, class: 'nav-link' %></li>
                <li class="nav-item"><%= link_to 'Log Out', '/accounts/sign_out', method: :delete, class: 'nav-link' %></li>
            <!-- Should only be seen if NOT logged in -->
              <% else %>
                <li class="nav-item"><%= button_to 'Log In', '/accounts/sign_in', method: :get, class: "btn btn-outline-primary" %></li>
                <li class="nav-item"><%= button_to 'Sign Up', "/accounts/sign_up", method: :get, class: "btn btn-primary" %></li>
              <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
